Linux32/work/*
Linux64/work/*
Win64/work/*
WinAos/Work/*
tools/builds/a2/oberon[!!-~]dependencies[!!-~]modules[!!-~]*.GofUu[!!-~]*.log[!!-~]*.Log[!!-~]*.SymUu[!!-~]Oberon.Compilation.Test.Diff[!!-~]Oberon.Execution.Test.Diff[!!-~]Bios32[!!-~]Bios64[!!-~]Win32[!!-~]Win64[!!-~]Linux32[!!-~]Linux64[!!-~]Darwin32[!!-~]Darwin64[!!-~]Solaris32[!!-~]Solaris64
