Linux32/work/*
Linux64/work/*
Win64/work/*
WinAos/Work/*
ocp/Matrix/WMArrayPanel.Mod.Bak
tools/builds/a2/*.Gof
tools/builds/a2/*.Log
tools/builds/a2/*.Sym
tools/builds/a2/*.log
tools/builds/a2/Bios32
tools/builds/a2/Bios64
tools/builds/a2/Darwin32
tools/builds/a2/Darwin64
tools/builds/a2/Linux32
tools/builds/a2/Linux64
tools/builds/a2/Oberon.Compilation.Test.Diff
tools/builds/a2/Oberon.Execution.Test.Diff
tools/builds/a2/Solaris32
tools/builds/a2/Solaris64
tools/builds/a2/Win32
tools/builds/a2/Win64
tools/builds/a2/dependencies
tools/builds/a2/modules
tools/builds/a2/oberon
